.Youtube {
	width: 70vw;
	margin: 50px auto;

	.YoutubeData {
		width: 100%;
		margin: 70px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.topPic {
			width: 100%;
			height: 300px;
			margin: 50px 0;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.our {
			width: 100%;
			margin-bottom: 100px;
			padding: 30px 0;
			position: absolute;
			top: 300px;
			background-color: var(--pointColor1);
			h3 {
				width: 100%;
				margin: 10px 0;
				text-align: center;
				font-size: var(--titSize2);
				color: var(--baseColor);
			}
			p {
				width: 100%;
				margin: 10px 0;
				text-align: center;
				font-size: var(--bodySize2);
				color: rgba(var(--baseColor-code), 0.4);
			}
		}
		// article {
		// 	width: 30%;
		// 	margin-bottom: 50px;
		// 	background-color: var(--ytColor);

		// 	.pic {
		// 		width: 100%;
		// 		height: 11vmax;

		// 		img {
		// 			width: 100%;
		// 			height: 100%;
		// 			object-fit: cover;
		// 		}
		// 	}
		// 	.infoBox {
		// 		width: 100%;
		// 		font-size: var(--bodySize2);
		// 		color: rgba(var(--baseColor-code), 0.5);

		// 		.viewDetail {
		// 			width: 100%;
		// 			padding: 10px;
		// 			display: flex;
		// 			justify-content: flex-end;
		// 			font-size: var(--bodySize2);
		// 			color: rgba(var(--baseColor-code), 0.7);
		// 			background-color: rgba(var(--baseColor-code), 0.1);
		// 			gap: 5px;
		// 		}

		// 		.date {
		// 			width: 100%;
		// 			padding: 25px 25px 15px 25px;
		// 			display: flex;
		// 			justify-content: space-between;
		// 			em {
		// 				color: var(--pointColor2);
		// 			}
		// 		}
		// 	}
		// 	.txt {
		// 		width: 100%;
		// 		padding: 0 25px 25px 25px;
		// 		word-break: break-all;
		// 		h2 {
		// 			font-size: var(--bodySize1);
		// 			color: rgba(var(--baseColor-code), 0.8);
		// 			margin-bottom: 8px;
		// 		}
		// 		p {
		// 			font-size: var(--bodySize2);
		// 			color: rgba(var(--baseColor-code), 0.3);
		// 		}
		// 	}
		// }
		article {
			width: 50%;
			display: flex;

			justify-content: space-between;
			padding: 20px;
			border: 1px solid rgba(var(--baseColor-code), 0.1);
			.left {
				width: 30%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
				.pic {
					width: 100px;
					height: 100px;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				.detailButton {
					width: 100%;
					font-size: var(--bodySize2);
					color: var(--pointColor2);
					margin-top: 10px;
					display: flex;
					justify-content: center;
					cursor: pointer;
				}
				// .infoBox {
				// 	width: 100%;
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	.viewDetail {
				// 		width: 100%;
				// 		text-align: center;
				// 	}
				// 	.date {
				// 		width: 100%;
				// 		text-align: center;
				// 	}
				// }
			}
			.txt {
				width: 70%;
				margin-left: 10px;
				padding: 10px;
				display: flex;
				flex-wrap: wrap;
				align-content: center;

				h2 {
					margin-bottom: 7px;
					font-size: var(--bodySize2);
					word-break: break-all;
				}
				p {
					font-size: var(--bodySize2);
					word-break: break-all;
					color: rgba(var(--baseColor-code), 0.7);
				}
			}
		}
	}
}

.tablet {
	.Youtube {
		width: 90vw;
		.YoutubeData {
			article {
				width: 50%;
			}
		}
	}
}

.mobile {
	.Youtube {
		width: 95vw;
		.YoutubeData {
			article {
				width: 100%;
				padding: 10px;
			}
		}
	}
}
