.Youtube {
	width: 70vw;
	margin: 50px auto;

	.YoutubeData {
		width: 100%;
		margin: 100px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.topYoutube {
			width: 100%;
			margin-bottom: 50px;
			display: flex;
			//background-color: var(--pointColor3);
			.youtubePic {
				width: 40%;
				height: 400px;
				//padding: 50px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.youtubeLeft {
				width: 60%;
				padding: 60px;
				display: flex;
				flex-wrap: wrap;
				align-content: center;
				h3 {
					width: 100%;
					margin-bottom: 50px;
					font-size: var(--titSize1);
				}
				p {
					width: 100%;
					font-size: var(--bodySize2);
				}
			}
		}

		.our {
			width: 100%;
			margin-bottom: 50px;
			padding: 30px 0;
			background-color: var(--pointColor1);
			h3 {
				width: 100%;
				margin: 10px 0;
				text-align: center;
				font-size: var(--titSize2);
				color: var(--baseColor);
			}
			p {
				width: 100%;
				margin: 10px 0;
				text-align: center;
				font-size: var(--bodySize2);
				color: rgba(var(--baseColor-code), 0.4);
			}
		}
		article {
			width: 45%;
			display: flex;
			justify-content: space-between;
			padding: 20px;
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.1);
			.left {
				width: 30%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
				.pic {
					width: 100px;
					height: 100px;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				.detailButton {
					width: 100%;
					font-size: var(--bodySize2);
					color: var(--pointColor2);
					margin-top: 10px;
					display: flex;
					justify-content: center;
					cursor: pointer;
				}
				// .infoBox {
				// 	width: 100%;
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	.viewDetail {
				// 		width: 100%;
				// 		text-align: center;
				// 	}
				// 	.date {
				// 		width: 100%;
				// 		text-align: center;
				// 	}
				// }
			}
			.txt {
				width: 70%;
				margin-left: 10px;
				padding: 10px;
				display: flex;
				flex-wrap: wrap;
				align-content: center;

				h2 {
					margin-bottom: 7px;
					font-size: var(--bodySize1);
					word-break: break-all;
				}
				p {
					font-size: var(--bodySize2);
					word-break: break-all;
					color: rgba(var(--baseColor-code), 0.7);
				}
			}
		}
	}
}
.tablet {
	.Youtube {
		width: 90vw;
		.YoutubeData {
			article {
				width: 50%;
			}
		}
	}
}
.mobile {
	.Youtube {
		width: 95vw;
		.YoutubeData {
			article {
				width: 100%;
				padding: 10px;
			}
		}
	}
}
