.Members {
	.wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.memberPic {
			width: 30%;
			margin: 100px 0;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.formBox {
			width: 70%;
			margin: 100px 0;
			padding: 20px;
			background-color: var(--ytColor);
			h3 {
				padding: 20px;
				font-size: var(--titSize2);
			}
			table {
				width: 100%;
				tr {
					td {
						width: 50%;
						font-size: var(--bodySize2);
						padding: 20px;
						position: relative;
						p {
							font-size: var(--bodySize2);
						}

						input[type='text'],
						input[type='password'],
						textarea {
							width: 100%;
							padding: 5px;
							border: none;
							font-size: var(--bodySize2);
							font-family: var(--baseFont);
							background-color: var(--pointColor1);
						}
						select {
							width: 100%;
							padding: 3px;
							border: none;
							font-family: var(--baseFont);
							background-color: var(--pointColor1);
						}
						label {
							margin-right: 40px;
							font-size: var(--bodySize2);
							font-family: var(--baseFont);
							opacity: 0.6;
						}
						input[type='checkbox'],
						input[type='radio'] {
							margin-right: 10px;
						}
						.formbutton {
							width: 100%;
							display: flex;
							justify-content: flex-end;
							gap: 7px;
							input[type='submit'] {
								background: var(--pointColor3);
								padding: 10px;
								border: none;
								font-size: var(--bodySize2);
								font-family: var(--baseFont);
								cursor: pointer;
								transition: 0.5s;
							}
							input[type='reset'] {
								padding: 10px;
								border: none;
								font-size: var(--bodySize2);
								font-family: var(--baseFont);
								color: var(--pointColor2);
								cursor: pointer;
								transition: 0.5s;
							}
						}
					}
					&:last-child {
						td::after {
							display: none;
						}
					}
				}
			}
		}
	}
}
