* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}
:root {
	background-color: var(--bgColor);
}
.wrap {
	color: var(--baseColor);
	font-family: var(--baseFont);
	background-color: var(--bgColor);
	font-size: var(--bodySize1);
	transition: color 1s, background-color 1s;

	.h {
		position: absolute;
		top: -9999999px;
		opacity: 0;
	}

	table,
	th,
	td {
		border-collapse: collpase;
	}
	textarea {
		resize: none;
	}
	input,
	button {
		outline: 0;
	}
	fieldset {
		border: none;
	}
	input,
	textarea {
		&::placeholder {
			background-color: transparent;
			font-size: var(--bodySize1);
			color: rgba(var(--baseColor-code), 0.5);
			font-family: var(--baseFont);
		}
	}
	select {
		font-size: var(--bodySize1);
		color: rgba(var(--baseColor-code), 0.5);
	}
}
