@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Orbitron&display=swap');

:root {
	--baseFont: 'Nanum Myeongjo', 'arial', '돋움';
	--pointFont: 'orbitron', 'arial';
	--baseColor: #111;
	--pointColor: hotpink;
	--bgColor: #efefef;
	--logoSize: 1rem;
	--bodySize1: 1.5rem;
	--bodySize2: 0.8rem;
	--titSize1: 2.4rem;
	--titSize2: 2rem;
	--pointSize: 8rem;
	--pointSize2: 1.6rem;
}
