@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:wght@300&display=swap');

:root {
	--baseFont: 'Fira Sans', 'arial', '돋움';
	--pointFont: 'DM Serif Display', 'arial';
	--baseColor: #333;
	--baseColor-code: 18, 18, 18;
	--pointColor1: #dcdcb1dc;
	--pointColor2: orangered;
	--bgColor: #efefef;
	--ytColor: #fff;
	--logoSize: 1rem;
	--bodySize1: 1.2rem;
	--bodySize2: 0.8rem;
	--titSize1: 2.4rem;
	--titSize2: 2rem;
	--pointSize: 8rem;
	--pointSize2: 1.8rem;
}

.dark {
	--baseColor: #fff;
	--baseColor-code: 255, 255, 255;
	--bgColor: #222;
	--ytColor: #222;
}
