.Layout {
	width: 70vw;
	margin: 100px auto;
	font-family: var(--baseFont);

	min-height: 60vh;
	opacity: 0;
	transform: translateY(200px);
	transition: opacity 1s, transform 1s;

	h1 {
		font-size: 0;
		font-weight: normal;

		span {
			font-size: 5rem;
			display: inline-block;
			transform: scale(4);
			opacity: 0;
			transition-property: opacity, transform;
		}
	}
	.btnTop {
		cursor: pointer;
		width: 50px;
		height: 50px;
		background: var(--baseColor);
		color: var(--bgColor);
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		position: fixed;
		bottom: 0px;
		right: 0px;
		z-index: 6;
		opacity: 0;
		transform: scale(1.4);
		transition: opacity 0.5s, transform 0.5s, background-color 0.5s;

		&.on {
			opacity: 1;
			transform: scale(1);
		}
		&:hover {
			background-color: var(--pointColor4);
		}
	}
	&.on {
		opacity: 1;
		transform: translateY(0px);

		h1 {
			span {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
.tablet {
	.Layout {
		width: 85vw;
		margin: 80px auto;
	}
}
.mobile {
	.Layout {
		width: 90vw;
		margin: 80px auto;
	}
}
