.Layout {
	width: 70vw;
	margin: 100px auto;
	font-family: var(--baseFont);
	min-height: 60vh;
	h1 {
		font-size: 4rem;
		font-weight: normal;
	}
}
.tablet {
	.Layout {
		width: 80vw;
		margin: 80px auto;
	}
}
