.Header {
	width: 70vw;
	margin: 0px auto;
	border: 1px solid var(--baseColor);
	display: flex;
	justify-content: space-between;

	h1 {
		padding-left: 20px;
		font-size: var(--logoSize);
		font-family: var(--pointFont);
		display: flex;
		align-items: center;
	}
	ul {
		display: flex;
		align-items: center;

		li {
			font-size: var(--bodySize2);
			padding: 20px;
		}
	}
	.themeBox {
		width: 60px;
		height: 26px;
		margin: 15px;
		border: 1px solid var(--baseColor);
		border-radius: 18px;
		cursor: pointer;
		position: relative;
		transform: scale(0.7);

		.ball {
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background-color: var(--baseColor);
			position: absolute;
			top: 2px;
			left: 2px;
			transition: 0.7s;
		}
	}
	.themeBox.dark {
		.ball {
			left: 36px;
		}
	}
}
