.Header {
	width: 70vw;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;
	h1 {
		width: 100%;
		margin: 40px 0;
		font-size: var(--logoSize);
		font-family: var(--pointFont);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menu {
		width: 100%;
		display: flex;
		justify-content: space-between;

		ul {
			width: 60%;
			display: flex;
			justify-content: center;

			li {
				padding: 10px 15px;
				font-size: var(--bodySize1);
				color: rgba(var(--baseColor-code), 0.8);
				&:hover {
					color: var(--pointColor2);
				}
			}
			a.on {
				font-weight: bold;
				color: var(--baseColor);
			}
		}
		.darkToggle {
			width: 20%;
			.themeBox {
				width: 60px;
				height: 26px;
				margin: 5px 0;
				border: 1px solid var(--baseColor);
				border-radius: 18px;
				cursor: pointer;
				position: relative;
				transform: scale(0.7);

				.ball {
					width: 20px;
					height: 20px;
					border-radius: 20px;
					background-color: var(--baseColor);
					position: absolute;
					top: 2px;
					left: 2px;
					transition: 0.7s;
				}
			}
			.themeBox.dark {
				.ball {
					left: 36px;
				}
			}
		}
		.menuToggle {
			width: 20%;
			margin: 10px;
			display: flex;
			justify-content: right;
			color: var(--baseColor);
			font-family: var(--baseFont);
			background-color: transparent;
			//display: none;
			border: none;
			cursor: pointer;
			.menuIcon {
				color: var(--baseColor);
			}
		}
	}
}
.tablet {
	.Header {
		width: 90vw;
		.menu {
			justify-content: center;
			ul {
				width: 80%;
			}
			.darkToggle {
				width: 20%;
			}
			.menuToggle {
				display: none;
			}
		}
	}
}
.mobile {
	.Header {
		width: 95vw;
		.menu {
			border: none;
			display: flex;
			justify-content: center;
			ul {
				display: none;
			}
			.menuToggle {
				display: block;
			}
		}
	}
}
