.Header {
	width: 70vw;
	margin: 20px auto;

	border: 1px solid var(--baseColor);
	display: flex;
	justify-content: space-between;

	h1 {
		padding-left: 20px;
		font-size: var(--logoSize);
		display: flex;
		align-items: center;
	}
	ul {
		display: flex;
		align-items: center;

		li {
			font-size: var(--bodySize2);
			padding: 20px;
		}
	}
}
