.Community {
	.CommunityWrap {
		width: 100%;
		margin: 100px 0;
		display: flex;
		flex-wrap: wrap;
		.inputBox {
			display: flex;
			flex-wrap: wrap;
			width: 30%;

			form {
				width: 100%;
				height: 40vh;
				padding: 25px;
				margin-right: 20px;
				background-color: var(--pointColor1);
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				h2 {
					width: 100%;
					font-size: var(--titSize1);
				}

				.formTxt {
					width: 100%;
					input {
						width: 100%;
						border: none;
						font-family: var(--baseFont);
						font-size: var(--titSize2);
						margin-bottom: 7px;
					}
					textarea {
						width: 100%;
						height: 15vh;
						border: none;
						margin-bottom: 7px;
						font-family: var(--baseFont);
						font-size: var(--bodySize1);
					}
				}
				nav {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					gap: 7px;
					button {
						height: 40px;
						border: none;
						cursor: pointer;
						padding: 10px;
						font-family: var(--baseFont);
						&:nth-of-type(1) {
							color: var(--pointColor5);
						}
						&:nth-of-type(2) {
							color: var(--baseColor);
							background-color: var(--pointColor2);
							transition: all 0.3s ease-out;
							&:hover {
								background-color: var(--pointColor3);
							}
						}
					}
				}
			}
		}
		.showBox {
			--boxGap: 15px;
			--num: 3;
			width: 70%;

			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			gap: var(--boxGap);
			article {
				width: calc((100% - (var(--boxGap) * (var(--num) - 1))) / var(--num));
				height: 40vh;
				background-color: var(--ytColor);
				padding: 25px;
				margin-bottom: 20px;
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				span {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					font-size: var(--bodySize2);
					margin-bottom: 5px;
				}

				.txt {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					input {
						width: 100%;
						border: none;
						margin-bottom: 7px;
						font-family: var(--baseFont);
						font-size: var(--titSize2);
						background-color: rgba(var(--baseColor-code), 0.1);
						border-bottom: var(--ytColor);
					}
					textarea {
						width: 100%;
						height: 20vh;
						border: none;
						font-family: var(--baseFont);
						font-size: var(--bodySize1);
						background-color: rgba(var(--baseColor-code), 0.1);
					}
					h2 {
						width: 100%;
						font-size: var(--titSize2);
						color: var(--baseColor);
						margin-bottom: 5px;
					}
					p {
						width: 100%;
						height: 20vh;

						font-size: var(--bodySize1);
						color: rgba(var(--baseColor-code) 0.4);
					}
				}

				nav {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					gap: 7px;
					button {
						height: 40px;
						border: none;
						cursor: pointer;
						padding: 10px;
						font-family: var(--baseFont);
						&:nth-of-type(1) {
							color: var(--pointColor5);
						}
						&:nth-of-type(2) {
							color: var(--baseColor);
							background-color: var(--pointColor1);
							transition: all 0.3s ease-out;
							&:hover {
								background-color: var(--pointColor2);
							}
						}
					}
				}
			}
		}
	}
}
.tablet {
	.Community {
		.CommunityWrap {
			.inputBox {
				form {
					padding: 20px;
					height: 55vh;
				}
			}

			.showBox {
				--num: 2;
				article {
					height: 55vh;
				}
			}
		}
	}
}
.mobile {
	.Community {
		.CommunityWrap {
			display: flex;
			flex-wrap: wrap;
			.inputBox {
				width: 100%;
				margin: 100px 0 10px 0;
				form {
					width: 100%;
					height: 60vh;
					margin-right: 0;
				}
			}
			.showBox {
				width: 100%;
				--num: 1;
				article {
					height: 60vh;
				}
			}
		}
	}
}
