.Community {
	width: 70vw;
	margin: 50px auto;
	.wrap {
		width: 100%;
		margin: 100px 0;
		display: flex;
		flex-wrap: wrap;
		.inputBox {
			display: flex;
			width: 100%;

			form {
				width: 70%;
				height: 250px;
				padding: 20px;
				background-color: var(--ytColor);
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;

				h2 {
					font-size: var(--titSize2);
					margin: 15px 0;
				}
				.formTxt {
					input {
						width: 100%;
						border: none;
						font-family: var(--baseFont);
						background-color: rgba(var(--baseColor-code), 0.1);
						border-bottom: var(--ytColor);
					}
					textarea {
						width: 100%;
						border: none;
						font-family: var(--baseFont);
						background-color: rgba(var(--baseColor-code), 0.1);
					}
				}
				nav {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					gap: 7px;
					button {
						height: 40px;
						border: none;
						cursor: pointer;
						padding: 10px;
						font-family: var(--baseFont);
						&:nth-of-type(1) {
							color: var(--pointColor2);
						}
						&:nth-of-type(2) {
							background-color: var(--pointColor1);
						}
					}
				}
			}
			.pic {
				width: 30%;
				height: 250px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.showBox {
			--boxGap: 15px;
			--num: 4;
			width: 100%;
			margin: 100px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: flex-start;
			gap: var(--boxGap);

			article {
				width: calc((100% - (var(--boxGap) * (var(--num) - 1))) / var(--num));
				height: 40vh;
				background-color: var(--ytColor);

				padding: 15px;
				margin-bottom: 20px;
				display: flex;
				flex-wrap: wrap;
				span {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					font-size: var(--bodySize2);
					margin-bottom: 5px;
				}

				.txt {
					width: 100%;
					height: 150px;
					input {
						width: 100%;
						border: none;
						font-family: var(--baseFont);
						background-color: rgba(var(--baseColor-code), 0.1);
						border-bottom: var(--ytColor);
					}
					textarea {
						width: 100%;
						border: none;
						font-family: var(--baseFont);
						background-color: rgba(var(--baseColor-code), 0.1);
					}
					h2 {
						font-size: var(--titSize2);
						color: var(--baseColor);
						margin-bottom: 5px;
					}

					p {
						font-size: var(--bodySize2);
						color: rgba(var(--baseColor-code) 0.4);
					}
				}

				nav {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					gap: 7px;

					button {
						height: 40px;
						border: none;
						cursor: pointer;
						padding: 10px;
						font-family: var(--baseFont);
						&:nth-of-type(1) {
							color: var(--pointColor2);
						}
						&:nth-of-type(2) {
							background-color: var(--pointColor1);
						}
					}
				}
			}
		}
	}
}
