.Community {
	width: 70vw;
	margin: 50px auto;
	.wrap {
		width: 100%;
		margin: 100px 0;
		display: flex;
		flex-wrap: wrap;
		.inputBox {
			display: flex;
			width: 100%;

			form {
				width: 70%;
				height: 250px;
				padding: 20px;
				background-color: var(--ytColor);

				h2 {
					font-size: var(--titSize2);
					margin: 15px 0;
				}
				input {
					width: 100%;
					border: none;
					font-family: var(--baseFont);
					background-color: rgba(var(--baseColor-code), 0.1);
					border-bottom: var(--ytColor);
				}
				textarea {
					width: 100%;
					border: none;
					font-family: var(--baseFont);
					background-color: rgba(var(--baseColor-code), 0.1);
				}
				.btns {
					display: flex;
					justify-content: flex-end;
					gap: 7px;
					margin-top: 10px;

					.canBtn {
						padding: 10px;
						border: none;
						font-family: var(--baseFont);
						cursor: pointer;
					}
					.postBtn {
						padding: 10px;
						border: none;
						font-family: var(--baseFont);
						background-color: var(--pointColor1);
						cursor: pointer;
					}
				}
			}
			.pic {
				width: 30%;
				height: 250px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.showBox {
			width: 100%;
			margin: 100px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;

			article {
				width: 23%;
				height: 40vh;
				background-color: var(--ytColor);
				padding: 15px;
				margin-bottom: 20px;
				display: flex;
				flex-wrap: wrap;

				.cloBtn {
					width: 100%;
					display: flex;
					justify-content: flex-end;

					.btn1 {
						border: none;
						background-color: var(--ytColor);
						cursor: pointer;
						font-size: var(--bodySize1);
						color: var(--pointColor2);
					}
				}

				.txt {
					width: 100%;

					h2 {
						font-size: var(--titSize2);
						color: var(--baseColor);
						margin-bottom: 5px;
					}

					p {
						font-size: var(--bodySize2);
						color: rgba(var(--baseColor-code) 0.4);
						margin-bottom: 100px;
					}
				}

				.ediBtn {
					width: 100%;
					display: flex;
					justify-content: flex-end;
					.btn2 {
						border: none;
						cursor: pointer;
						padding: 10px;
						font-family: var(--baseFont);
					}
				}
			}
		}
	}
}
