.Contact {
	width: 70vw;
	margin: 50px auto;
	.GIT {
		width: 100%;
		margin-top: 100px;
		padding: 30px;
		background-color: var(--pointColor2);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h2 {
			width: 100%;
			margin-top: 50px;
			text-align: center;
			font-size: var(--titSize1);
		}
		.APE {
			width: 100%;
			display: flex;
			justify-content: center;
			.address,
			.phone,
			.email {
				width: 25%;
				padding: 30px;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				div {
					width: 70px;
					height: 70px;
					border-radius: 50%;
					background-color: var(--pointColor1);
					position: relative;
					span {
						position: absolute;
						top: 26px;
						left: 26px;
					}
				}
				h3 {
					width: 100%;
					margin: 5px 0;
					text-align: center;
					font-size: var(--bodySize1);
				}
				p {
					width: 100%;
					text-align: center;
					font-size: var(--bodySize2);
				}
			}
		}
	}
	#mailSection {
		display: flex;
		flex-wrap: wrap;
		background-color: var(--ytColor);
		.mailLeft {
			width: 50%;
			padding: 70px;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			h3 {
				width: 100%;
				font-size: var(--titSize1);
				text-align: center;
			}
			.p1 {
				width: 100%;
				font-size: var(--bodySize1);
				word-break: break-all;
			}
			.p2 {
				width: 100%;
				font-size: var(--bodySize2);
				word-break: break-all;
			}
		}
		form {
			width: 50%;
			padding: 50px;
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;
			background-color: var(--ytColor);
			input {
				width: 100%;
				height: 25px;
				margin-bottom: 7px;
				color: var(--baseColor);
				font-family: var(--baseFont);
				background-color: rgba(var(--baseColor-code), 0.1);
				border: none;
			}
			textarea {
				width: 100%;
				height: 200px;
				margin-bottom: 7px;
				color: var(--baseColor);
				font-family: var(--baseFont);
				background-color: rgba(var(--baseColor-code), 0.1);
				border: none;
			}
			.emailButton {
				width: 100%;
				height: 25px;
				font-family: var(--baseFont);
				border: none;
				background-color: var(--pointColor1);
				cursor: pointer;
				transition: 0;
				&:hover {
					background-color: var(--pointColor2);
					transition: 0.8s;
				}
			}
		}
	}
	#mapSection {
		width: 100%;
		.controlBox {
			display: flex;
			justify-content: space-between;
			.branch,
			.traffic {
				button {
					margin-right: 10px;
					padding: 10px;
					font-family: var(--baseFont);
					cursor: pointer;
					border: none;
					background-color: var(--pointColor1);
					transition: 0;
					&:hover {
						background-color: var(--pointColor2);
						transition: 0.8s;
					}
				}
			}
		}
		.tab {
			width: 100%;
			height: 50vh;
			margin-bottom: 20px;
			background-color: var(--baseColor);
			font-family: var(--baseFont);
			position: relative;
			filter: saturate(0.3);
			transition: filter 0.5s;
			&:hover {
				filter: saturate(1);
			}
			.mapBox,
			.viewBox {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				&.on {
					opacity: 1;
					z-index: 2;
				}
			}
		}
	}
}
.dark {
	.Contact {
		.tab {
			filter: saturate(0) invert(1) contrast(0.7);
		}
	}
}
.tablet {
	.Contact {
		#mailSection {
			width: 100%;

			display: flex;
			flex-wrap: wrap;
			.mailLeft {
				width: 50%;
				padding: 50px;
			}
			form {
				width: 50%;
				padding: 40px;
			}
		}
		#mapSection {
			.controlBox {
				.branch {
					button {
						font-size: var(--bodySize2);
					}
				}
				.traffic {
					button {
						font-size: var(--bodySize2);
					}
				}
			}
		}
	}
}
.mobile {
	.Contact {
		.GIT {
			padding: 20px;
			h2 {
				margin-top: 0px;
			}
			.APE {
				.address {
					padding: 0px;
					margin: 5px;
				}
				.phone {
					padding: 0px;
					margin: 5px;
				}
				.email {
					padding: 0px;
					margin: 5px;
				}
			}
		}
		#mailSection {
			width: 100%;

			display: flex;
			flex-wrap: wrap;
			.mailLeft {
				width: 100%;
				padding: 50px;
			}
			form {
				width: 100%;
				padding: 30px;
				input {
					margin: 7px 0;
				}
				textarea {
					margin: 7px 0;
				}
			}
		}
		#mapSection {
			width: 100%;

			.controlBox {
				display: flex;
				flex-wrap: wrap;
				.branch {
					width: 100%;
					display: flex;
					justify-content: center;
					gap: 10px;
					margin-bottom: 10px;
					button {
						margin-right: 0px;
					}
				}
				.traffic {
					width: 100%;
					display: flex;
					justify-content: center;
					gap: 10px;
					button {
						margin-left: 0px;
					}
				}
			}
		}
	}
}
