.Footer {
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--pointColor1);

	section {
		width: 70vw;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.FooterBox1 {
			width: 30%;
			margin-bottom: 50px;
			h2 {
				margin: 10px;
				font-size: var(--bodySize1);
			}
			p {
				margin: 10px;
				font-size: var(--bodySize2);
				word-break: break-all;
			}
			ul {
				font-size: var(--bodySize2);
				display: flex;
				margin: 10px;
				gap: 10px;
			}
		}
		.FooterBox2 {
			width: 15%;
			margin-bottom: 50px;
			h2 {
				margin: 10px;
				font-size: var(--bodySize1);
			}
			ul {
				margin: 10px;
				font-size: var(--bodySize2);
				li {
					margin-bottom: 5px;
				}
			}
		}
		.FooterBox3 {
			width: 15%;
			margin-bottom: 50px;
			h2 {
				margin: 10px;
				font-size: var(--bodySize1);
			}
			ul {
				margin: 10px;
				font-size: var(--bodySize2);
				li {
					margin-bottom: 5px;
				}
			}
		}
		.FooterBox4 {
			width: 30%;
			margin-bottom: 50px;
			h2 {
				margin: 10px;
				font-size: var(--bodySize1);
			}
			ul {
				margin: 10px;
				font-size: var(--bodySize2);
				word-break: break-all;
				li {
					margin-bottom: 5px;
				}
			}
		}
		.Copy {
			width: 100%;
			border-top: 1px solid var(--baseColor);
			font-size: var(--bodySize2);
			padding: 50px;
			display: flex;
			justify-content: center;
		}
	}
}

.mobile {
	.Footer {
		display: flex;
		flex-wrap: wrap;
		.FooterBox1 {
			width: 100%;
		}
		.FooterBox2 {
			width: 100%;
		}
		.FooterBox3 {
			width: 100%;
		}
		.FooterBox4 {
			width: 100%;
		}
		.Copy {
			padding: 30px 0;
		}
	}
}
