.Footer {
	width: 70vw;
	margin: 40px auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid var(--bgColor);

	.FooterBox1 {
		width: 30%;
		margin-bottom: 50px;
		h1 {
			margin: 10px;
			font-size: 1rem;
		}
		p {
			margin: 10px;
			font-size: var(--bodySize2);
		}
		ul {
			font-size: var(--bodySize2);
			display: flex;
			margin: 10px;
			gap: 10px;
		}
	}
	.FooterBox2 {
		width: 15%;
		margin-bottom: 50px;
		h2 {
			margin: 10px;
			font-size: 1rem;
		}
		ul {
			margin: 10px;
			font-size: var(--bodySize2);
			li {
				margin-bottom: 5px;
			}
		}
	}
	.FooterBox3 {
		width: 15%;
		margin-bottom: 50px;
		h2 {
			margin: 10px;
			font-size: 1rem;
		}
		ul {
			margin: 10px;
			font-size: var(--bodySize2);
			li {
				margin-bottom: 5px;
			}
		}
	}
	.FooterBox4 {
		width: 30%;
		margin-bottom: 50px;
		h2 {
			margin: 10px;
			font-size: 1rem;
		}
		ul {
			margin: 10px;
			font-size: var(--bodySize2);
			li {
				margin-bottom: 5px;
			}
		}
	}
	.Copy {
		width: 100%;
		border-top: 1px solid var(--baseColor);
		font-size: var(--bodySize2);
		padding: 50px;
		display: flex;
		justify-content: center;
	}
}
